/* .btnSubmit
{
    width: 10%;
    border-radius: 5rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
   
}
 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0563c7;
} */