<div class="container cenovnik-container">
    <h3>Kupovina karte</h3>
    <p>Mozete kupiti samo vremensku kartu(vazi u narednih sat vremena za bilo koju liniju) jer niste registrovani!<br/>
        Unesite Vasu email adresu, da bismo Vam poslali Vasu kartu. 
    </p>
    <form [formGroup]="kupiKartuForm"  >
        <div class="form-goup" >
            <label for="labelEmail" class="col-sm-1 control-label"  >Email</label>
            <input type="text" name="email" formControlName="email"/>
        </div>
        <br>
        <div > 
            <input type="submit" [disabled]="!kupiKartuForm.valid" (click)="KupiKartu()" class="btn btn-primary " value="Kupi" />
        </div>
        
    </form>
    
    
</div>
