<form [formGroup]="cenovnikForm" (submit)="onSubmit()" class="form-horizontal">
  <div class="form-group">   
        <label for="From" class="col-sm-3">Vazi od: </label>
      <div class="col-sm-3"> 
        <input type="date" id="VaziOd" formControlName="VaziOd" class="form-control">
      </div> 
  </div>
  <div class="form-group">
    <label for="To" class="col-sm-3">Vazi do: </label>
    <div class="col-sm-3">
      <input type="date" id="VaziDo" formControlName="VaziDo" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="HourId" class="col-sm-3">Cene vremenske karte: </label>
    <select  formControlName="HourId" class="form-control" *ngFor="let item of hourItems">
      <option value={{item.Id}}>{{item.Cena}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="DayId" class="col-sm-3">Cene dnevne karte: </label>
    <select  formControlName="DayId" class="form-control" *ngFor="let item of dayItems">
      <option value={{item.Id}}>{{item.Cena}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="MonthId" class="col-sm-3">Cene mesecne karte: </label>
    <select  formControlName="MonthId" class="form-control" *ngFor="let item of monthItems">
      <option value={{item.Id}}>{{item.Cena}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="YearId" class="col-sm-3">Cene godisnje karte: </label>
    <select  formControlName="YearId" class="form-control" *ngFor="let item of yearItems">
      <option value={{item.Id}}>{{item.Cena}}</option>
    </select>
  </div>
  <hr>
  <button type="submit">Dodaj cenovnik</button>
</form>
<hr *ngIf="validationMessage !== ''">
<h4 class="text-danger" *ngIf="validationMessage !== ''">
  {{validationMessage}}
</h4>
<hr>