<div class="container">
  <h3>Cenovnik</h3>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="shadow-lg">
        <div class="card card-signin my-5">
          <div class="card-body">
                <div class="form-label-group">
                  <label for="tipK">Tip karte:</label><br>
                <select name="tipKarte" class="form-control" (change)="onSelectTipKarte($event)">
                  <option>Vremenska karta </option>
                  <option>Dnevna karta</option>
                  <option>Mesecna karta</option>
                  <option>Godisnja karta</option>
                </select><br>
                <label for="tipP">Tip putnika:</label><br>
                <select name="tipPutnika" class="form-control" (change)="onSelectTipPutnika($event)">
                  <option>Regularni</option>
                  <option>Djak</option>
                  <option>Penzioner</option>
                </select><br>
              <label class="form-control text-center">Cena: {{cena}} RSD</label>
              </div><br>      
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>  
