<h2>JGSP NOVI SAD</h2>


<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<nav class="navbar navbar-inverse">
        <div class="container-fluid">        
          <ul class="nav navbar-nav">
            <li> <a routerLink="/redVoznje">Red voznje</a></li>
            <li> <a routerLink="/mrezaLinija">Mreza Linija</a></li>
            <li> <a routerLink="/trenutnaLokacija">Lokacija vozila</a></li>
            <li> <a routerLink="/cenovnik">Cenovnik</a></li>
            <li> <a routerLink="/kupiKartu">Kupi kartu</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">         
            <li><a routerLink="/registracija"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a routerLink="/login" >Login</a></li>
          </ul>
         </div>
 </nav> -->

 
 <app-navigation-bar></app-navigation-bar>
<router-outlet></router-outlet>
