<h3>Dodavanje linije</h3>
<div>
  <!-- Kreiramo mapu -->
  <agm-map [latitude]="45.256138" [longitude]="19.828751" [zoom]="14" (mapClick)="placeMarker($event)">  

    <agm-polyline strokeColor="blue">
         <agm-polyline-point *ngFor="let point of polyline.stanice" [latitude]="point.Lat" [longitude]="point.Lon">
         </agm-polyline-point>
    </agm-polyline>

    <agm-marker *ngFor="let point of polyline.stanice" [latitude]="point.Lat" [longitude]="point.Lon" [iconUrl]="stationIcon" (markerClick)="onStationClicked(point)">
    </agm-marker>

  </agm-map>

  <div *ngIf="inputName">
      <input type="text" placeholder="Naziv stanice" [(ngModel)]="selektovanaStanica.Naziv">
      <input type="text" placeholder="Adresa stanice" [(ngModel)]="selektovanaStanica.Adresa">
  </div>
  

  <input type="text" placeholder="Ime linije" [(ngModel)]="imeLinije"><br>

  <label for="Type">Tip linije: </label>
  <div>
    <select [(ngModel)]="izabraniTipLinije">
      <option value="0" selected="selected">Gradska</option>
      <option value="1">Prigradska</option>
    </select>
  </div>
  <button type="button" (click)="onSaveClicked()">Save</button>
</div>
