<div class="container"> 
  <h3>Dodavanje linije</h3>
  <br>
  <div>
    <!-- Kreiramo mapu -->
    <agm-map [latitude]="45.256138" [longitude]="19.828751" [zoom]="14" (mapClick)="placeMarker($event)">  
      <agm-polyline strokeColor="blue">
          <agm-polyline-point *ngFor="let point of polyline.Stanice" [latitude]="point.Lat" [longitude]="point.Lon">
          </agm-polyline-point>
      </agm-polyline>

      <agm-marker *ngFor="let point of polyline.Stanice" [latitude]="point.Lat" [longitude]="point.Lon" [iconUrl]="stationIcon" (markerClick)="onStationClicked(point)">
      </agm-marker>

    </agm-map>
    <br>
    <div class="form-group">
      <div *ngIf="inputName" class="col-sm-3">           
          <input type="text" placeholder="Naziv stanice" class="form-control" [(ngModel)]="selektovanaStanica.Naziv" >
        </div>
        <div *ngIf="inputName" class="col-sm-3">
              <input type="text" placeholder="Adresa stanice" class="form-control" [(ngModel)]="selektovanaStanica.Adresa" >
        </div>
    </div>
      <br>
      <br>
     <form [formGroup]="addLinijaForm" class="form-horizontal">
      <div class="form-group">
        <label for="NazivLinije" class="col-sm-2">Naziv linije:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control"  formControlName="imeLinije">
        </div>
      </div>  
      <div class="form-group">
          <label for="Type" class="col-sm-2">Tip linije:</label>
        <div class="col-sm-3">
          <select formControlName="izabraniTipLinije"  class="form-control" >
            <option value="0">Gradski</option>
            <option value="1">Prigradski</option>
          </select>      
        </div>
      </div>
      
      <div class="form-group">
          <div class="col-sm-3">
              <button type="button" class="btn btn-primary" (click)="onSaveClicked()">Sacuvaj</button>
          </div>
      </div>
   </form>
   <hr *ngIf="validationMessage !== ''">
   <h4 class="text-danger" *ngIf="validationMessage !== ''">
     {{validationMessage}}
   </h4>
   <hr>
 </div>
   

</div>

