<div class="container">
    <form class="form-horizontal" role="form" [formGroup]="addRedVoznjeForm" >
        <h2>Dodavanje reda voznje</h2><hr>
        <div class="form-group">
                <div class="form-group" >
                        <label  class="col-sm-3 control-label">Red voznje: </label>
                    <div class="col-sm-3 ">
                        <select for="TipRedaVoznje"  class="form-control"  formControlName="tipRedaVoznje"  (change)="onChange($event)" required>
                          <option value="Gradski" >Gradski</option>
                          <option value="Prigradski">Prigradski</option>                         
                        </select>                    
                    </div>
                </div>   
                <div class="form-group">
                        <label  class="col-sm-3 control-label">Dan: </label>
                    <div class="col-sm-3 ">
                        <select for="TipDana" class="form-control"  formControlName="tipDana" required>
                          <option value="Radni_dan" selected>Radni dan</option>
                          <option value="Subota">Subota</option>   
                          <option value="Nedelja">Nedelja</option>                         
                        </select>
                    </div>
                </div>  
                <div class="form-group">
                    <label for="linija" class="col-sm-3 control-label">Linija:</label>
                  <div class="col-sm-3">                          
                          <select  name="selectLinija" class="form-control" formControlName="izabranaLinija" required>
                            <option *ngFor=" let linija of Linije" value="{{linija.Id}}">{{linija.Naziv}}</option>    
                          </select>                        
                  </div>                           
                 </div> 
                 <div class="form-group">
                 <label for="polazak" class="col-sm-3 control-label">Polasci:</label>
                     <div class="col-sm-3">
                           <input type="text" id="polasci" class="form-control"  formControlName="polasci" required >
                     </div>          
                 </div>
        </div> 
            <div class="form-group">
                    <div class="col-sm-2" >
                            <button name="btn"  type="submit"   class="btn btn-primary btn-block" (click)="onSubmit()">Dodaj</button>
                     </div>
             </div>                    
    </form> <!-- /form -->

    <hr *ngIf="validationMessage !== ''">
    <h4 class="text-danger" *ngIf="validationMessage !== ''">
        {{validationMessage}}
    </h4>
</div> <!-- ./container -->
