
<body>
  <div class="container cenovnik-container">
      <h3>Gradski i prigradski red voznje</h3>
    <br>
    <form method="GET" name="forma" >
        <div class="form-group" >
            <label for="redVoznje" class="col-sm-2 control-label">Red voznje</label>
            
            <select name="cmbboxRedVoznje">
              <option value="GRADSKI">Gradski</option>
              <option value="PRIGRADSKI">Prigradski</option>
            </select>
        </div>
        <div class="form-group">
            <label for="dan" class="col-sm-2 control-label">Dan</label>

            <select name="cmbboxDan">
                <option value="RADNI_DAN">Radni dan</option>
                <option value="SUBOTA">Subota</option>
                <option value="NEDELJA">Nedelja</option>
            </select>
        </div>
        <div class="form-group" *ngIf="Linije">
          <label for="linija" class="col-sm-2 control-label" >Linija </label>     
            <select  name="selectLinija">
              <option *ngFor=" let linija of Linije" value="linija.IdLinije">{{linija.IdLinije}}  {{linija.Relacija}}</option>    
            </select>       
        </div>
        <div class="form-group"> 
            <input type="submit" (click)="PrikaziRedVoznje()" value="Prikazi"/>
      </div>
   
      <!-- <table border="1">
          <tr colspan="2" *ngIf="Linije" >
            <td>Linija : {{forma.selectLinija.value.option}}</td>
          </tr>
          <tr>
            <td>SMER A: {{linija.Relacija}}</td>
            <td>SMER B: {{linija.Relacija}}</td>
          </tr>
          <tr>
    
          </tr>
        </table>
  -->
  </form>


 
</div>
</body>
