<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <h3>Kupljene karte</h3>
    <br>
    <div class="listWrap" *ngIf="Karte.length === 0">      
        <br/>
        <br/>
        <h4>{{message}}</h4>
    </div>
    <div class="listWrap"  *ngIf="Karte.length !== 0">  
       
        <ul class="list" >        
            <li>
                <span>ID</span>
                <span>Tip karte</span>
                <span>Vreme kupovine</span>
                <span>Vazi do</span>
                <span>Cena</span>         
            </li>
           
                <li *ngFor="let karta of Karte">
                    <span>{{karta.Id}}</span>
                    <span>{{karta.CenovnikStavka.Stavka.Naziv}}</span>
                    <span>{{karta.VremeVazenja.split('T',2)}}</span>
                    <span *ngIf="karta.CenovnikStavka.Stavka.Naziv === 'Vremenska karta'">Karta vazi u narednih sat vremena</span>
                    <span *ngIf="karta.CenovnikStavka.Stavka.Naziv === 'Dnevna karta'">Karta vazi  do kraja tekuceg dana</span>
                    <span *ngIf="karta.CenovnikStavka.Stavka.Naziv === 'Mesecna karta'">Karta vazi  do kraja tekuceg meseca</span>
                    <span *ngIf="karta.CenovnikStavka.Stavka.Naziv === 'Godisnja karta'">Karta vazi  do kraja tekuceg godine</span>
                    <span>{{karta.Cena}} RSD</span>    
                </li>                
        </ul>
    </div>
</div>

<script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js" integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE=" crossorigin="anonymous"></script>
