<body>       
  <div class="container">
        <h3>Izmena kontrolora</h3>
        <hr>
          <form class="form-horizontal" role="form" [formGroup]="editForm" >

              <div class="form-group">
                      <label for="firstName" class="col-sm-3 control-label" >Ime</label>
                      <div class="col-sm-3">
                          <input type="text" id="firstName"  class="form-control" formControlName="Ime" required>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="lastName" class="col-sm-3 control-label">Prezime</label>
                      <div class="col-sm-3">
                          <input type="text" id="lastName"  class="form-control" formControlName="Prezime" autofocus>
                      </div>
                  </div>
                  <div class="form-group" >
                      <label for="email" class="col-sm-3 control-label">Email </label>
                      <div class="col-sm-3">
                          <input type="email" id="email"  class="form-control"  formControlName="Email" disabled>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="password" class="col-sm-3 control-label">Lozinka</label>
                      <div class="col-sm-3">
                          <input type="password" id="password"  class="form-control" formControlName="Lozinka">
                      </div>
                  </div>
                  <!-- <div class="form-group">
                      <label for="confPassword" class="col-sm-3 control-label">Potvrdi lozinku</label>
                      <div class="col-sm-3">
                          <input type="password" id="confPassword"  class="form-control" formControlName="confPassword">
                      </div>
                  </div> -->
                  <div class="form-group">
                      <label for="birthDate" class="col-sm-3 control-label">Datum rodjenja</label>
                      <div class="col-sm-3">
                          <input type="datetime-local" id="birthDate" class="form-control" formControlName="DatumRodjenja">
                      </div>
                  </div>                       
                           <div class="form-group">                
                                  <label for="adresa" class="col-sm-3 control-label">Adresa</label>
                              <div class="col-sm-3">
                                      <input type="text"   class="form-control" formControlName="Adresa">
                              </div>
                           </div>                        
                        <!-- <div class="form-group" *ngIf="rola!=='Admin'">
                                <label  class="col-sm-3 control-label">Tip putnika </label>
                            <div class="col-sm-3 ">
                                <select for="TipPutnika" class="form-control"  formControlName="tipPutnika"  [(ngModel)]="TipPutnika">
                                  <option value="DJAK">Djak</option>
                                  <option value="PENZIONER" >Penzioner</option>
                                  <option value="REGULARNI"  selected="selected">Regularni</option>
                                </select>
                            </div>
                        </div>                                      -->
                      <!-- <div class="form-group" >
                          <div class="col-sm-9" *ngIf="!isChecked" > 
                              <input type="file"  accept="image/*" name="image" (change)="onFileSelected($event)">
                          </div>
                          <div class="col-sm-9">
                              <input type="checkbox" name="willUploadDocument" [(ngModel)]="isChecked">Prilozi kasnije<br>
                          </div>
                      </div>                                   -->
                
                  <hr *ngIf="validationMessage !== ''">
                  <h5 class="text-danger" *ngIf="validationMessage !== ''">
                      {{validationMessage}}
                  </h5>
                  <hr>
                    <button type="submit"   class="btn btn-primary btn" (click)="onSubmit()">Sacuvaj</button> 
                   
        </form> <!-- /form -->
 </div> <!-- ./container -->

  
</body> 

