<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<nav class="navbar navbar-default navbar-inverse" >
  <a class="navbar-brand" href="/home">
    <img src="assets/whiteBusLogo.png" width="40" height="30" class="d-inline-block align-top" alt="">  
  </a>
        <div class="container-fluid" >
          <ul class="nav navbar-nav" >
            <li class="nav-item"> <a routerLink="/redVoznje" *ngIf="rola!=='Admin' && rola!=='Controller'">Red vožnje</a></li>
            <li class="nav-item"> <a routerLink="/mrezaLinija" *ngIf="rola!=='Admin' && rola!=='Controller'">Mreža linija</a></li>
            <li class="nav-item"> <a routerLink="/lokacijaBusa" *ngIf="rola!=='Admin' && rola!=='Controller'">Lokacija autobusa</a></li>
            <li class="nav-item"> <a routerLink="/cenovnik" *ngIf="rola!=='Admin' && rola!=='Controller'">Cenovnik</a></li>
            <li class="nav-item"> <a routerLink="/kupiKartu" *ngIf="rola!=='Admin' && rola!=='Controller'">Kupi kartu</a></li>
            <li class="nav-item"><a routerLink="/profil" *ngIf="isLoggedIn">Profil</a></li>
            <li class="nav-item"><a routerLink="/kupljeneKarte" *ngIf="isLoggedIn && rola ==='AppUser'">Kupljene karte</a></li>
            <li class="nav-item" *ngIf="isLoggedIn && isAdmin">
              <a  routerLink="/management">Management </a>
            </li>
            <li class="nav-item"><a routerLink="/verifikacijaKorisnika" *ngIf="rola === 'Controller'">Verifikuj korisnika</a></li>
            <li class="nav-item"><a routerLink="/validacijaKarti" *ngIf="rola === 'Controller'">Validiraj karte</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" >
              <li class="nav-item"  *ngIf="!isLoggedIn"><a class="nav-link" routerLink="/registracija"><span class="glyphicon glyphicon-user"></span> Register</a></li>
              <li class="nav-item"  class="nav-link" *ngIf="!isLoggedIn"><a class="nav-link" routerLink="/login">Login</a></li>
          <!-- </ul>
          <ul class="nav navbar-nav navbar-right"> -->
              <li class="nav-item"  *ngIf="isLoggedIn">
                  <a class="nav-link" (click)="LogOut()" routerLink="/login">Logout</a>
                </li>
          </ul>
        </div>
 </nav>

